port 0
tls-port 6379
tls-cert-file ${_REDIS_TLS_CERT}
tls-key-file ${_REDIS_TLS_KEY}
tls-ca-cert-file ${_REDIS_TLS_CA_CERT}
tls-protocols "TLSv1.2 TLSv1.3"
tls-auth-clients yes
user default off
user ${REDIS_USERNAME} +@connection ~* +get +set on >${REDIS_PASSWORD}
loglevel debug