port 0
tls-port 6379
tls-cert-file ${REDIS_TLS_CERT_FILE}
tls-key-file ${REDIS_TLS_KEY_FILE}
tls-ca-cert-file ${REDIS_TLS_CA_CERT_FILE}
tls-protocols "TLSv1.2 TLSv1.3"
tls-auth-clients yes
user default off
user CW-APP +@connection ~* +get +set on >CW-APP-DEV-PW 